.wrapper{
  padding: 10px; 
  border: 1px solid #e35545;
}
.title{
  padding: 15px 22px;
  border: none;
  background-color: #e35545;
  color: #fff;
  font-family: 'Lato';
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
.body{
  h3{
    color: #e35545;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-left: 10px;
  }
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}